<div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <img src="assets/images/logo_white.png" alt="logo" class="logo">
        </a>
        <p class="text-muted">© 2023 Anoop K Narayanan</p>
      </div>
  
      <div class="col">
  
      </div>
  
      <div class="col">
        <h5>Shopping</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Electronics</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Jewelery</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Men's Clothing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Women's Clothing</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Policies</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">T&C</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms Of Use</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Shipping</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cancellation</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Returns</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blogs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Site Map</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Corporate Information</a></li>
        </ul>
      </div>
    </footer>
  </div>