<div class="container-fluid">
   <div class="row">
      <div class="col-3 mt-4 ms-4">
         <h1 class="text-capitalize sel-category">{{selCategory}}</h1>
      </div>
   </div>
    <div class="row mt-4" *ngIf="productList$ | async as products">
       <div class="col-4 mt-4">
          <div id="filter" class="p-2 ms-md-4 ms-sm-2 pe-5">
             <div class="filter-header">Filter by</div>
             <div class="box">
                <div class="box-label text-capitalize d-flex align-items-center">Category <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#category" aria-expanded="false" aria-controls="category" (click)="collapseCat = !collapseCat"> <span class="fas" [ngClass]="{'fa-plus': collapseCat, 'fa-minus': !collapseCat}"></span> </button> </div>
                <div id="category" class="collapse">
                    <div class="my-1" *ngFor="let category of categories">
                        <label class="tick text-capitalize">{{category.category}} <input type="checkbox" checked="checked" [(ngModel)]="category.checked" (change)="onFilter()"> <span class="check"></span> </label>
                    </div>
                </div>
             </div>
             <div class="box">
                <div class="box-label text-capitalize d-flex align-items-center">Price <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#price" aria-expanded="false" aria-controls="price" (click)="collapsePrice = !collapsePrice"> <span class="fas" [ngClass]="{'fa-plus': collapsePrice, 'fa-minus': !collapsePrice}"></span> </button> </div>
                <div id="price" class="collapse">
                  <div class="my-1" *ngFor="let priceRange of priceRanges">
                     <label class="tick mb-3"><span *ngIf="priceRange.start == 0">Under </span><span *ngIf="priceRange.start > 0">CAD {{priceRange.start}}</span> <span *ngIf="priceRange.start > 0 && priceRange.end < 10000">-</span> <span *ngIf="priceRange.end == 10000"> & Above</span> <span *ngIf="priceRange.end != 10000">CAD {{priceRange.end}}</span><input type="checkbox" checked="checked" [(ngModel)]="priceRange.checked" (change)="onFilter()"> <span class="check"></span> </label>
                  </div>
                </div>
             </div>
             <div class="box">
                <div class="box-label text-capitalize d-flex align-items-center">Customer's Top Rated <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#rating" aria-expanded="false" aria-controls="rating" (click)="collapseRating = !collapseRating"> <span class="fas" [ngClass]="{'fa-plus': collapseRating, 'fa-minus': !collapseRating}"></span> </button> </div>
                <div id="rating" class="collapse">
                  <div class="my-1" *ngFor="let rating of ratings">
                     <label class="tick mb-3"><span class="star" *ngFor="let stars of [].constructor(rating.start)"></span><span *ngIf="rating.end != rating.start"> & Above</span> <input type="radio" [value]="rating.start" [(ngModel)]="selRating" name="ratingRadio" (change)="onFilter()"> <span class="radio"></span> </label>
                  </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-8 mt-4">
          <div class="row">               
            <!-- <form #searchForm="ngForm" class="d-flex mb-4" (ngSubmit)="onSearch(searchForm)">
               <input class="form-control me-2" type="search" (search)="onSearch(searchForm)" placeholder="Search" aria-label="Search" ngModel name="keyword">
               <button class="btn srch-btn" type="submit">Search</button>
               <span class="fa-solid fa-cart-shopping" style="color: #FFFFFF"></span>
            </form> -->
            <ng-container class="d-flex justify-content-center" *ngIf="loading$ | async">
               <div class="overlay"></div>
               <div class="spinner-border" role="status">
                 <span class="visually-hidden">Loading...</span>
               </div>
             </ng-container>
            <div class="h-100 d-flex align-items-center justify-content-center mt-5" *ngIf="products.length == 0">
               <h5>Nothing to display!</h5>
            </div>
             <div class="col-lg-4 col-md-6 mb-5" *ngFor="let product of products">
                <!-- <div class="card col-md-12 border-light cursor-pointer" style="height: 27rem;" routerLink="/product/{{product.id}}" [queryParams]="{ categories, priceRanges, selRating }"> -->
               <div class="card col-md-12 border-0 mb-5 pe-4" style="height: 27rem;">
                  <div class="d-flex cursor-pointer" (click)="goToDetails(product.id)">
                     <img [src]="product.image" alt="Product Image" class="card-img-top" style="min-height: 19rem; max-height: 19rem;">
                     <!-- <div class="rating-card">{{product.rating.rate}} <span class="fa-sharp fa-solid fa-star"></span> <span class="border-start border-secondary ms-2 ps-2">{{product.rating.count}}</span></div> -->
                  </div>                   
                  <div class="card-body">
                     <h6 class="card-title cursor-pointer"><a (click)="goToDetails(product.id)">{{product.title}}</a></h6>
                     <!-- <p class="card-text" style="min-height: 1rem; max-height: 1rem;">CAD {{product.price}}</p> -->
                     <span class="card-text mh-100 mw-100">CAD {{product.price}}</span>
                     <div class="mh-100 mw-100 mb-3">Earn bonus points NOW</div>
                     <!-- <div class="stars">
                        <span class="fa-sharp fa-solid fa-star"></span>{{product.rating.rate}}
                     </div> -->
                     <div class="stars">
                        <span class="stars-container d-inline-flex">
                            <span class="empty-stars"></span>
                            <span class="filled-stars" [style.width.%]="product.rating.starWidth"></span>
                        </span>
                        <span class="aggregateCount ms-1">({{product.rating.count}})</span>
                    </div>
                  </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>