<div>
    <div class="home-wrapper">
      <div class="img-wrapper">
        <img src="https://slimages.macysassets.com/is/image/McomMedia/media/022823_INTL_SPRING_FASHION_HP_REFRESH_01_1493392.jpg?scl=1&wid=1440" class="d-block w-100" alt="...">        
      </div>
      <div class="img-wrapper">
        <img src="https://slimages.macysassets.com/is/image/McomMedia/media/022823_INTL_SPRING_FASHION_HP_REFRESH_02_1493395.jpg?scl=1&wid=1440" alt="">
      </div>
      <div class="banner img-wrapper d-flex justify-content-center">
        <span class="align-self-center">This a clone of Macys.com. All offers are for display purpose only.</span>
      </div>
    </div>
    <div class="row justify-content-center gap-5 py-5">
      <div class="col-2 border-rt pe-3">
        <div class="mb-1">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="main-offer">Sign up for emails &</div>
        <div class="sub-offer">get an extra 25% off</div>
        <div class="sub-text mt-1">
          Save on your next purcahse and discover our latest offers. Exclusions apply. Valid for international customers only.
        </div>
        <div class="mt-4">
          <a href="#" class="link">Sign Up</a>
        </div>
      </div>
      <div class="col-2 border-rt pe-3">
        <div class="mb-1">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="main-offer">Sign up for emails &</div>
        <div class="sub-offer">get an extra 25% off</div>
        <div class="sub-text mt-1">
          Save on your next purcahse and discover our latest offers. Exclusions apply. Valid for international customers only.
        </div>
        <div class="mt-4">
          <a href="#" class="link">Select Your Location</a>
        </div>
      </div>
      <div class="col-2 border-rt pe-3">
        <div class="mb-1">
          <i class="fa-solid fa-globe"></i>
        </div>
        <div class="main-offer">Sign up for emails &</div>
        <div class="sub-offer">get an extra 25% off</div>
        <div class="sub-text mt-1">
          Save on your next purcahse and discover our latest offers. Exclusions apply. Valid for international customers only.
        </div>
        <div class="mt-4">
          <a href="#" class="link">Get The Details</a>
        </div>
      </div>
      <div class="col-2">
        <div class="mb-1">
          <i class="fa-solid fa-door-closed"></i>
        </div>
        <div class="main-offer">Sign up for emails &</div>
        <div class="sub-offer">get an extra 25% off</div>
        <div class="sub-text mt-1">
          Save on your next purcahse and discover our latest offers. Exclusions apply. Valid for international customers only.
        </div>
        <div class="mt-4">
          <a href="#" class="link">Find A Store</a>
        </div>
      </div>
    </div>
</div>